/*reset css*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding-left: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: black;
  font-family: "Inter";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1152px;
  margin: 0 auto;
}
/*------------------------------------------------------------------------------------*/

.header__container {
  display: flex;
  min-height: 85px;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
  margin-left: 83px;
}
.header__menu {
  display: flex;
  flex-wrap: wrap;
  margin-right: 96px;
}

.menu__list li {
  display: inline-block;
  margin-left: 25px;
}

.menu_list {
  list-style-type: none;
}

.nav__logo {
  width: 20px;
  height: 20px;
}

.search__menu {
  margin-left: 297px;
}

.search__form {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  /* 600 */

  color: #718096;
}

.search__logo {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.menu__list {
  align-items: center;
}

.header__content-logo {
  width: 95px;
  height: 95px;
  transform: rotateX(-20.28deg);
  transform: rotateY(-20.28deg);
  position: absolute;
  left: 28%;
  top: 38%;
}

.header__section-text {
  margin-left: 127px;
}

.header__section {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: 467px;
  background: #fbfbfb;
}
.section__logo {
  width: 476px;
  height: 323px;
  margin-right: 93px;
}

.header__content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;

  color: #000000;

  margin-bottom: 20px;
}

.header__parag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;

  /* 700 */

  color: #4a5568;
  margin-bottom: 20px;
}
/*++++++++++++++++++++ MAIN_CONT ++++++++++++++++++++++++++++++++++++++++++*/
.main__content-img {
  width: 433.24px;
  height: 243px;
}

.containership {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 43px;

  height: 1250px;
  padding-top: 39px;
}

.span-col-3 {
  grid-column: span 3 / auto;
}

.main__container {
  width: 966px;
  height: 243px;
  display: flex;
  border: 1px solid #f5f1f1;
  box-shadow: 0px 5px 4px rgba(206, 205, 205, 0.35);
  border-radius: 5px;
  box-sizing: border-box;
}

.main-text {
  display: flex;
  flex-direction: column;
  width: 532.76px;
  padding-top: 41px;
  padding-left: 53px;
  padding-right: 74px;
}

.date_and_more {
  display: flex;
  justify-content: space-between;
}

.main__container .date_and_more {
  padding-top: 27px;
}

.main__content-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #2d3748;
}

.main__content-parag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
  padding-top: 27px;
}

.main__content-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #718096;
}

.main__content-read {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #2d3748;
}
/*+++++++++++++++++++++++++++++++++ SECOND_CONT ++++++++++++++++++++++++++++*/

.second__container-left {
  width: 300px;
  margin-left: 91px;
  height: 382px;
}

.second__container-center {
  width: 300px;
  height: 382px;
}

.second__container-right {
  width: 300px;
  margin-right: 91px;
  height: 382px;
}

.second__container-center .date_and_more {
  padding-top: 22px;
}

.second__container-left .date_and_more {
  padding-top: 22px;
}

.second__container-right .date_and_more {
  padding-top: 22px;
}
.left__second-img {
  height: 179px;
  width: 297px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  object-fit: cover;
}

.center__second-img {
  height: 179px;
  width: 300px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.right__second-img {
  height: 179px;
  width: 300px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.left__second-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2d3748;
}

.left__second-parag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
  padding-top: 16px;
}
.left-text {
  padding: 20px;
}

.center__second-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2d3748;
}

.center__second-parag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
  padding-top: 16px;
}

.center-text {
  padding: 20px;
}

.right__second-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2d3748;
}

.right__second-parag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
  padding-top: 16px;
}

.right-text {
  padding: 20px;
}

.left__second-content {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

.center__second-content {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

.right__second-content {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

.left__second-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #718096;
}

.center__second-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #718096;
}

.right__second-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #718096;
}

.left__second-read {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #2d3748;
}

.center__second-read {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #2d3748;
}

.right__second-read {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #2d3748;
}

/*++++++++++++++++++++++++++ THORD_CONT +++++++++++++++++++++++++++++++++*/
.third__container {
  width: 965px;
  background-color: #e9edf1;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.third__container .date_and_more {
  padding-top: 31px;
}

.right__third-img {
  height: 500px;
  width: 525px;
  object-fit: cover;
}

.left__third-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

.left__third-content {
  padding: 98px 63px 98px 63px;
  width: 440px;
  border-radius: 0px;
  background: #f7fafc;
}

.left__third-parag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #718096;
  padding-top: 24px;
}

.left__third-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  /* 700 */

  color: #4a5568;
}

.left__third-read {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.third__button {
  height: 37px;
  width: 122px;
  border-radius: 5px;
  background: #6b46c1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.third__button span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}

.third__button img {
  height: 16.67px;
  width: 16.67px;
  margin-right: 4px;
}
.button_cont {
  width: 966px;
  display: flex;
  justify-content: flex-end;
  padding-top: 31px;
}

.footer__container {
  height: 120px;
  padding-top: 40px;
}

.footer__cont {
  width: 966px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__border {
  width: 1152px;
  border: 1px solid #e8e8e8;
}

.footer__text p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

  color: #000000;
}

.footer__icons {
  display: flex;
  flex-flow: row;
}

.icons__menu li {
  display: inline-block;
  margin-right: 30px;
}
.icons__menu li:nth-last-child(1) {
  margin-right: 0px;
}
