/*reset css*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

ul {
  padding-left: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  max-width: max-content;
  margin: auto;
  background: #464646;
  width: 1152px;
  height: 1992px;
}

.container {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
}

.header {
  position: relative;
  width: 1152px;
  height: 580px;
  background: #ffffff;
}

.navbar-menu {
  list-style-type: none;
}

.navbar-menu li {
  display: inline-block;
}

.header__search {
  display: flex;
  margin-top: 40px;
  margin-left: 150px;
}
.img-search {
  width: 16.93px;
  height: 16.93px;
}

.text__search {
  width: 66px;
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 12.4px;
}
.header__nav {
  display: flex;
  flex-flow: row nowrap;
}
.header__nav ul {
  margin-top: 37px;
  margin-right: 96px;
}

.header__nav li {
  margin-left: 35px;
}
.menu__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}
.header .header__section {
  width: 1152px;
  height: 467px;
  background: #fbfbfb;
}
.header__logo {
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.2px;
  text-decoration: none;
  color: #000000;
  margin-left: 83px;
  margin-top: 37px;
}
.header__content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;

  color: #000000;
}

.header__content {
  padding-top: 70px;
}

.left__content .left__img {
  position: absolute;
  left: 28%;
  right: 65.92%;
  top: 50.23%;
  bottom: 38.42%;
  width: 80px;
  height: 77px;
  transform: rotate(-28.5deg);
}

.header__cont-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  position: absolute;
  left: 11.02%;
  right: 58.25%;
  top: 38.05%;
  bottom: 40.69%;
  color: #000000;
}

.right__content .right__img {
  position: absolute;
  left: 50.61%;
  right: 8.07%;
  top: 26.99%;
  bottom: 15.85%;
  width: 476px;
  height: 323px;
}
.header__parag {
  position: absolute;
  left: 11.02%;
  right: 60.5%;
  top: 60.38%;
  bottom: 28.91%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #4a5568;
}

.container2 {
  position: relative;
  width: 1152px;
  height: 821px;

  background: #ffffff;
}

.main__content {
  box-sizing: border-box;

  margin-left: 95px;

  height: 243px;
  width: 966px;
  border-radius: 5px;

  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
}

.main__content-img {
  width: 433.24px;
  height: 243px;
  top: 0px;
  border-radius: 0px;

  position: absolute;
  left: 55.15%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.left__second-img {
  height: 179px;
  width: 297px;
  left: 2px;
  top: 0px;
  border-radius: 0px;

  position: absolute;
  left: 0%;
  right: 0.33%;
  top: 0%;
  bottom: 53.14%;
}

.main__content-text {
  position: absolute;
  left: 12.3%;
  right: 10.89%;
  top: 31px;
  bottom: 68.31%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #2d3748;
}

.main__content-parag {
  position: absolute;
  left: 12.3%;
  right: 52.86%;
  top: 84px;
  bottom: 36.21%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
}

.main__content-date {
  position: absolute;
  left: 12.3%;
  right: 54.81%;
  top: 175px;
  bottom: 17.7%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #718096;
}

.main__content-read {
  position: absolute;
  left: 41.58%;
  right: 47.86%;
  top: 185px;
  bottom: 17.7%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #2d3748;
}

.center__second-img {
  height: 179px;
  width: 300px;
  left: 0px;
  top: 0px;
  border-radius: 0px;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 53.14%;
}

.right__second-img {
  height: 179px;
  width: 300px;
  left: 0px;
  top: 0px;
  border-radius: 0px;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 53.14%;
}

.left__second-text {
  position: absolute;
  left: 5.53%;
  right: 13%;
  top: 51.57%;
  bottom: 42.15%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2d3748;
}

.left__second-parag {
  position: absolute;
  left: 5.67%;
  right: 8.33%;
  top: 59.2%;
  bottom: 15.97%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
}

.center__second-text {
  position: absolute;
  left: 5.53%;
  right: 13%;
  top: 51.57%;
  bottom: 42.15%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2d3748;
}

.center__second-parag {
  position: absolute;
  left: 5.67%;
  right: 8.33%;
  top: 59.2%;
  bottom: 15.97%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
}

.right__second-text {
  position: absolute;
  left: 5.53%;
  right: 13%;
  top: 51.57%;
  bottom: 42.15%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2d3748;
}

.right__second-parag {
  position: absolute;
  left: 5.67%;
  right: 8.33%;
  top: 59.2%;
  bottom: 15.97%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
}

.left__second-content {
  height: 382px;
  width: 300px;
  left: 0px;
  top: 0px;
  border-radius: 5px;

  position: absolute;
  left: 8.4%;
  right: 0%;
  top: 35%;
  bottom: 0%;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

.center__second-content {
  height: 382px;
  width: 300px;
  left: 0px;
  top: 0px;
  border-radius: 5px;

  position: absolute;
  left: 37.4%;
  right: 0%;
  top: 35%;
  bottom: 0%;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

.right__second-content {
  height: 382px;
  width: 300px;
  left: 0px;
  top: 0px;
  border-radius: 5px;

  position: absolute;
  left: 66.7%;
  right: 0%;
  top: 35%;
  bottom: 0%;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

.left__second-date {
  height: 15px;
  width: 92px;
  left: 16px;
  top: 343px;
  border-radius: nullpx;

  position: absolute;
  left: 5.33%;
  right: 64%;
  top: 86.79%;
  bottom: 6.28%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #718096;
}

.center__second-date {
  height: 15px;
  width: 92px;
  left: 16px;
  top: 343px;
  border-radius: nullpx;

  position: absolute;
  left: 5.33%;
  right: 64%;
  top: 86.79%;
  bottom: 6.28%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #718096;
}

.right__second-date {
  height: 15px;
  width: 92px;
  left: 16px;
  top: 343px;
  border-radius: nullpx;

  position: absolute;
  left: 5.33%;
  right: 64%;
  top: 86.79%;
  bottom: 6.28%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #718096;
}

.left__second-read {
  height: 15px;
  width: 63px;
  left: 213px;
  top: 343px;
  border-radius: nullpx;

  position: absolute;
  left: 71%;
  right: 8%;
  top: 89.79%;
  bottom: 6.28%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #2d3748;
}

.center__second-read {
  height: 15px;
  width: 63px;
  left: 213px;
  top: 343px;
  border-radius: nullpx;

  position: absolute;
  left: 71%;
  right: 8%;
  top: 89.79%;
  bottom: 6.28%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #2d3748;
}

.right__second-read {
  height: 15px;
  width: 63px;
  left: 213px;
  top: 343px;
  border-radius: nullpx;

  position: absolute;
  left: 71%;
  right: 8%;
  top: 89.79%;
  bottom: 6.28%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #2d3748;
}
