/*reset css*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  padding-left: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: black;
  font-family: "Inter";
}

.header {
  width: 966px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__searchbox input {
  position: relative;
  width: 70%;
  height: 20px;
  border: 1px solid #cacdd3;
  border-radius: 40px;
  font-size: 14px;
  text-align: center;
}
.header__searchbox button {
  position: absolute;
  top: 33px;
  left: 40.5%;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.header__menu {
  display: flex;
  flex-flow: row;
}

.header__icons li {
  display: inline-block;
  margin-right: 30px;
}
.header__icons li:nth-last-child(1) {
  margin-right: 0px;
}

.search__logo {
  width: 20px;
  height: 20px;
  background-color: white;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1152px;
  margin: 0 auto;
}
/*------------------------------------------------------------------------------------*/

.header__container {
  display: flex;
  min-height: 85px;
  align-items: center;
}
.header__logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.header__content-logo {
  width: 95px;
  height: 95px;
  transform: rotateX(-20.28deg);
  transform: rotateY(-20.28deg);
  position: absolute;
  left: 28%;
  top: 38%;
}

.header__section-text {
  margin-left: 80px;
}

.header__section {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: 467px;
  background: #fbfbfb;
}
.section__logo {
  width: 476px;
  height: 323px;
  margin-right: 50px;
}

.header__content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;

  color: #000000;

  margin-bottom: 20px;
}

.header__parag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;

  /* 700 */

  color: #4a5568;
  margin-bottom: 20px;
}
/*++++++++++++++++++++ MAIN_CONT ++++++++++++++++++++++++++++++++++++++++++*/
.main__content-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containership {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 43px;

  height: 1250px;
  padding-top: 39px;
}

.span-col-3 {
  grid-column: span 3 / auto;
}

.main__container {
  width: 966px;
  height: 243px;
  display: flex;
  border: 1px solid #f5f1f1;
  box-shadow: 0px 5px 4px rgba(206, 205, 205, 0.35);
  border-radius: 5px;
  box-sizing: border-box;
}

.main-text {
  display: flex;
  flex-direction: column;
  width: 532.76px;
  padding-top: 41px;
  padding-left: 53px;
  padding-right: 74px;
}

.date_and_more {
  display: flex;
  justify-content: space-between;
}

.main__container .date_and_more {
  padding-top: 27px;
}

.main__content-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #2d3748;
}

.main__content-parag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
  padding-top: 27px;
}

.main__content-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #718096;
}

.main__content-read {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #2d3748;
}
/*+++++++++++++++++++++++++++++++++ SECOND_CONT ++++++++++++++++++++++++++++*/

.second__container-left {
  width: 300px;
  margin-left: 91px;
  height: 382px;
}

.second__container-center {
  width: 300px;
  height: 382px;
}

.second__container-right {
  width: 300px;
  margin-right: 91px;
  height: 382px;
}

.second__container-center .date_and_more {
  padding-top: 22px;
}

.second__container-left .date_and_more {
  padding-top: 22px;
}

.second__container-right .date_and_more {
  padding-top: 22px;
}
.left__second-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.center__second-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.right__second-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.left__second-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2d3748;
}

.left__second-parag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
  padding-top: 16px;
}
.left-text {
  padding: 20px;
}

.center__second-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2d3748;
}

.center__second-parag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
  padding-top: 16px;
}

.center-text {
  padding: 20px;
}

.right__second-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2d3748;
}

.right__second-parag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
  padding-top: 16px;
}

.right-text {
  padding: 20px;
}

.left__second-content {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

.center__second-content {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

.right__second-content {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

.left__second-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #718096;
}

.center__second-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #718096;
}

.right__second-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #718096;
}

.left__second-read {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #2d3748;
}

.center__second-read {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #2d3748;
}

.right__second-read {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #2d3748;
}

/*++++++++++++++++++++++++++ THIRD_CONT +++++++++++++++++++++++++++++++++*/
.third__container {
  width: 965px;
  background-color: #e9edf1;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.third__container .date_and_more {
  padding-top: 31px;
}

.right__third-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left__third-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

.left__third-content {
  padding: 98px 63px 98px 63px;
  width: 440px;
  border-radius: 0px;
  background: #f7fafc;
}

.left__third-parag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #718096;
  padding-top: 24px;
}

.left__third-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  /* 700 */

  color: #4a5568;
}

.left__third-read {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.third__button {
  position: relative;
  height: 37px;
  width: 122px;
  border-radius: 5px;
  background: #6b46c1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.name__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
  margin-left: -15px;
}

.name__button img {
  position: absolute;
  bottom: 28%;
  right: 5%;
  height: 16.67px;
  width: 16.67px;
  margin-left: 6px;
}
.button_cont {
  width: 966px;
  display: flex;
  justify-content: flex-end;
  padding-top: 31px;
}
/*-------------------------FOOOTER_CONT-------------------*/
.footer__container {
  height: 120px;
  padding-top: 40px;
}

.footer__cont {
  width: 966px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__border {
  width: 1152px;
  border: 1px solid #e8e8e8;
}

.footer__text p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

  color: #000000;
}

.footer__icons {
  display: flex;
  flex-flow: row;
}

.icons__menu li {
  display: inline-block;
  margin-right: 30px;
}
.icons__menu li:nth-last-child(1) {
  margin-right: 0px;
}

/*---------------------------MEDIA------------------------*/

@media screen and (max-width: 980px) {
  ._container {
    max-width: 982px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  ._container {
    max-width: 770px;
    margin: 0 auto;
  }
  .header__logo {
    padding-left: 30px;
  }
  .header__searchbox {
    padding-left: 90px;
  }
  .header__menu {
    padding-right: 30px;
  }
  .header__searchbox button {
    position: absolute;
    top: 33px;
    left: 27.5%;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  .header__section-text {
    margin-left: 30px;
  }
  .header__content-logo {
    width: 95px;
    height: 95px;
    transform: rotateX(-20.28deg);
    transform: rotateY(-20.28deg);
    position: absolute;
    left: 28%;
    top: 42%;
  }
  .containership {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 1150px;
    padding-top: 20px;
    column-gap: 0;
    row-gap: 0;
  }

  .main__container {
    margin-left: 0px;
  }
  .main-text {
    display: flex;
    flex-direction: column;
    width: 532.76px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .second__container-left {
    width: 256px;
    height: 370px;
  }
  .second__container-center {
    width: 256px;
    height: 370px;
  }
  .second__container-right {
    width: 256px;
    height: 370px;
  }
  .third__container {
    width: 768px;
    background-color: #e9edf1;
    height: 450px;
    display: flex;
    justify-content: space-between;
  }
  .left__third-content {
    padding: 50px 30px;
  }
  .left__third-parag {
    padding-top: 40px;
  }
  .third__container .date_and_more {
    padding-top: 70px;
  }
  .button_cont {
    padding-top: 5px;
    padding-right: 43.5%;
  }
  .footer__border {
    margin-top: -15px;
  }
  .footer__text {
    padding-left: 30px;
  }

  .icons__menu {
    padding-right: 30px;
  }
}
